/* Scope everything under .features-section */
.features-section .carousel {
  --items: 6;
  --carousel-duration: 40s;
  --carousel-width: min(80vw, 1200px);
  --carousel-item-width: 280px;
  --carousel-item-height: 450px;
  --carousel-item-gap: 2rem;
  --clr-cta: rgb(0, 132, 209);

  position: relative;
  width: var(--carousel-width);
  height: var(--carousel-item-height);
  overflow: clip;
}

.features-section .carousel[mask] {
  /* fade out on sides */
  mask-image: linear-gradient(to right, transparent, black 10% 90%, transparent);
}

.features-section .carousel[reverse] > article {
  animation-direction: reverse;
}

.features-section .carousel:hover > article {
  animation-play-state: paused;
}

.features-section .carousel > article {
  position: absolute;
  top: 0;
  left: calc(100% + var(--carousel-item-gap));
  width: var(--carousel-item-width);
  height: var(--carousel-item-height);
  display: grid;
  grid-template-rows: 200px auto 1fr auto;
  gap: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.25);

  padding-block-end: 1rem;
  border-radius: 10px;
  background: #ffffff;
  color: #313f58;

  /* animation */
  will-change: transform;
  animation-name: features-marquee;
  animation-duration: var(--carousel-duration);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: calc(
    var(--carousel-duration) / var(--items) * 1 * var(--i) * -1
  );
}

.features-section .carousel > article:nth-child(1) {
  --i: 0;
}
.features-section .carousel > article:nth-child(2) {
  --i: 1;
}
.features-section .carousel > article:nth-child(3) {
  --i: 2;
}
.features-section .carousel > article:nth-child(4) {
  --i: 3;
}
.features-section .carousel > article:nth-child(5) {
  --i: 4;
}
.features-section .carousel > article:nth-child(6) {
  --i: 5;
}

.features-section .carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.features-section .carousel > article > *:not(img) {
  padding: 0 1rem;
}

.features-section .carousel > article > div {
  grid-row: span 2;
  display: grid;
  grid-template-rows: subgrid;
  font-size: 0.8rem;
}

.features-section .carousel > article h2 {
  font-size: 1.2rem;
  font-weight: 500;
  padding-block: 0.75rem 0.25rem;
  margin: 0;
}

.features-section .carousel > article p {
  margin: 0;
}

.features-section .carousel > article a {
  text-decoration: none;
  text-transform: lowercase;
  border: 1px solid var(--clr-cta);
  color: var(--clr-cta);
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
  place-self: start;
  transition: 150ms ease-in-out;
}

.features-section .carousel > article a:hover,
.features-section .carousel > article a:focus-visible {
  background-color: var(--clr-cta);
  color: white;
  outline: none;
}

/* animation keyframes */
@keyframes features-marquee {
  100% {
    transform: translateX(
      calc(
        (var(--items) * (var(--carousel-item-width) + var(--carousel-item-gap))) *
          -1
      )
    );
  }
}
